/** inicio */

header{
    background-image: red;
    height: 100vh;
    background-size: cover;
    margin: 0;
}

.color{
    font-size: 80px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
    color: white;
    padding: 15px 30px 15px 30px;
    display: inline-block;
    text-align: center;
}

.navbar-brand{
    text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}




/** footer  pasar todo a ingles*/



.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media (max-width: 600px) {

    .icon{
        width: 30px;
        height: 30px;
    }
}

.icon{
    width: 65px;
    height: 65px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all .4s;
}

.icon:nth-child(1):hover{
    box-shadow: 0px 0px 0px 10px #007bff ;
}

.icon:nth-child(2):hover{
   box-shadow: 0px 0px 0px 10px #007bff;
}

.icon:nth-child(3):hover{
    box-shadow: 0px 0px 0px 10px #007bff ;
}
.icon:nth-child(4):hover{
    box-shadow: 0px 0px 0px 10px #007bff;
}
.icon:nth-child(5):hover{
    box-shadow: 0px 0px 0px 10px #007bff ;
}


.fa-facebook {
    color: white; 
}

.fa-twitter{
    color: white; 
}

.fa-phone-volume{
    color: white; 
}

.fa-instagram{
    color: white; 
}

.fa-map-location-dot{
    color: white; 
}





/** seccion de inicio */


.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}







/** seccion de login y registro */


.register-photo {
    background:#f1f7fc;
    padding:80px 0;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:red;
    background-size:cover;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#212529;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  





/** seccion de servicio */

  .cont-padre{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor_servicios{
    height: 450px;
    width: 21%;
    margin: 20px 15px;
   overflow: hidden;
}
.contenedor_servicios img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 20px;
}
.box-datos{
    height: 235px;
    width: 100%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s;
}
.box-datos h1{
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 30px;
}
.box-datos h2{
    font-size: .8em;
}
.box-datos h1,h2{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
.box-datos p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    width: 80%;
    color: white;
}
.box-datos span{
    margin: 0 20px;
    font-size: 1.2em;
}



span:nth-child(1){
color: #3b5998;
}
span:nth-child(2){
color: #55acee;
}
span:nth-child(3){
    color:  #bb0000;

}
.contenedor_servicios:hover .box-datos{
    transform: translateY(-160px);
}


@media screen and (max-width:1024px){
  .cont-padre .contenedor_servicios{
       width: 30%;
       margin: 15px;
   }
}
@media screen and (max-width:800px){
  .cont-padre .contenedor_servicios{
       width: 50%;
       margin: 15px;
   }
}
@media screen and (max-width:768px){
  .cont-padre .contenedor_servicios{
       width: 40%;
       margin: 15px;
   }
}
@media screen and (max-width:600px){
  .cont-padre .contenedor_servicios{
       width: 55%;
       margin:20px 10px;
   }
}
@media screen and (max-width:414px){
   .cont-padre .contenedor_servicios{
        width: 100%;
        margin:20px  10px;
    }
}
@media screen and (max-width:360px){
   .cont-padre .contenedor_servicios{
        width:100%;
        margin:20px 10px;
    }
}



/** seccion de resultados */


.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon1 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}



.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}


/* plantilla extra servicios*/

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #3931af;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 100%;
}