<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/laboratorio/inicio">Lab Clinico GRG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/laboratorio/inicio">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a class="servicios" routerLink="/laboratorio/examenes">Servicios</a>
            </a>
            <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a *ngFor="let i of listExamn"  class="dropdown-item" href="#">{{i.name}}</a>
              <a  *ngIf="AdminFijo =='ADMIN'"   class="dropdown-item" routerLink="/admin/registrar-examen">Crear Examen</a>

            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laboratorio/resultados">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="AdminFijo =='ADMIN'" routerLink="/admin/registrar-resultado">Crear resultado</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <span *ngIf="logueado" class="btn btn-outline-primary my-2 my-sm-0">Bienvenido!</span>
        <span *ngIf="logueado" (click)="Salir()" class="btn btn-outline-primary my-2 my-sm-0">Salir</span>

        <button *ngIf="!logueado" class="btn btn-outline-primary my-2 my-sm-0" type="submit" > <a routerLink="/auth/login">Login</a> </button>
      </form>
    </div>
  </nav>

  <router-outlet> </router-outlet>

  <footer class="no-margin bg-dark">
    <div class="contenedor">
    <div class="iconos">
       <div class="iconos-centrar icon">
        <i class="fab fa-facebook fa-2x"></i>
        </div>
        <div class="iconos-centrar icon">
          <i class="fab fa-twitter fa-2x"></i>
        </div>
        <div class="iconos-centrar icon">
          <i class="fa-solid fa-phone-volume fa-2x"></i>
        </div>
        <div class="iconos-centrar icon">
        <i class="fab fa-instagram fa-2x"></i>
        </div>
        <div class="iconos-centrar icon">
          <i class="fas fa-solid fa-map-location-dot fa-2x"></i>
       </div>
    </div>
 </div>
</footer>

