<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon1"> <i class="fa-regular fa-file-pdf"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">13 de Noviembre del 2021</h6> <span>1 days ago</span>
                        </div>
                    </div>
                    <div class="badge"> <span>Resultado</span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading">Identificación de Bacterias por la Técnica MALDI-TOF, Hemocultivo</h3>
                    <div class="mt-5 text-right">
                        <button type="button" class="btn btn-primary">Descargar <i class="fa fa-cloud-download"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon1"> <i class="fa-regular fa-file-pdf"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">13 de Noviembre del 2021</h6> <span>4 days ago</span>
                        </div>
                    </div>
                    <div class="badge"> <span>Resultado</span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading">Creatina en Orina de 24 horas</h3>
                    <div class="mt-5">
                        <div class="mt-5 text-right">
                            <button type="button" class="btn btn-primary">Descargar <i class="fa fa-cloud-download"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon1"> <i class="fa-regular fa-file-pdf"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">13 de Noviembre del 2021</h6> <span>2 days ago</span>
                        </div>
                    </div>
                    <div class="badge"> <span>Resultado</span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading">Creatina en Orina de 24 horas</h3>
                    <div class="mt-5">
                        <div class="mt-5 text-right">
                            <button type="button" class="btn btn-primary">Descargar <i class="fa fa-cloud-download"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon1"> <i class="fa-regular fa-file-pdf"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">13 de Noviembre del 2021</h6> <span>2 days ago</span>
                        </div>
                    </div>
                    <div class="badge"> <span>Resultado</span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading">Creatina en Orina de 24 horas</h3>
                    <div class="mt-5">
                        <div class="mt-5 text-right">
                            <button type="button" class="btn btn-primary">Descargar <i class="fa fa-cloud-download"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
