<h1 class="text-center mt-4">Identificación de Bacterias por la Técnica MALDI-TOF, Hemocultivo</h1>


<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="assets/img/ideBacterias.jpg" class="rounded" alt=""/>
        </div>
        <div class="col-md-6">
                        <h4 class="">Que es?</h4>
        <p class="text-muted">La técnica MALDI-TOF (espectrometría de masa por ionización láser asistida por matriz con tiempo de vuelo) se utiliza para identificar bacterias mediante la comparación de sus perfiles de proteínas. Esta técnica se basa en la separación de las proteínas bacterianas mediante un proceso de ionización y, posteriormente, su identificación mediante la comparación de sus espectros de masa con una base de datos de espectros de masa conocidos. Esta técnica se ha convertido en una herramienta valiosa para la identificación rápida y precisa de bacterias, lo que permite una selección más eficiente de tratamientos antimicrobianos específicos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                        <h4 >Preparacion para el examen</h4>
                        <p class="text-muted">
                            Para realizar un examen de identificación de bacterias por la técnica MALDI-TOF y hemocultivo, es importante que el paciente siga las siguientes recomendaciones:

En el caso de la técnica MALDI-TOF, generalmente no se requiere ninguna preparación especial antes del examen. Sin embargo, si se va a realizar algún procedimiento invasivo para obtener una muestra, como una punción lumbar, se deben seguir las instrucciones de preparación que haya indicado el médico.

Para el hemocultivo, es importante que el paciente esté en ayunas antes de la extracción de la muestra de sangre. En algunos casos, se puede requerir que se suspendan temporalmente ciertos medicamentos antes del examen, como los antibióticos, ya que pueden afectar los resultados del cultivo. 
                            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="assets/img/muestra.jpg" class="rounded" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="assets/img/doctor.jpg" class="rounded" alt=""/>
        </div>
        <div class="col-md-6">
                        <p class="text-muted">Es importante que el paciente informe al médico sobre cualquier medicamento que esté tomando.Es importante que el paciente informe al médico si tiene alguna enfermedad crónica o si ha tomado algún medicamento recientemente, ya que esto puede afectar los resultados de los exámenes.

                            Es importante seguir las instrucciones del médico sobre cualquier restricción de actividad física antes o después del examen.
                            
                            Si el paciente tiene alguna alergia conocida a materiales médicos, como agujas, es importante que lo informe al médico para evitar cualquier complicación durante el examen.
                            
                            Siguiendo estas recomendaciones, se puede garantizar una mayor precisión en los resultados del examen y una mejor atención médica al paciente.</p>
        </div>
    </div>

</div>
