<h1 class="text-center m-4">Servicios</h1>



          <div class="cont-padre">
            <div class="contenedor_servicios">
                <div class="box">
                    <img src="assets/img/cancerMama.jpeg" alt="">
                </div>
                <div class="box-datos">
                    <h1>Cáncer Mama/Ovario - Gen BRCA2 (NGS)</h1>

                    <p>El gen BRCA2 es un gen que ayuda a reparar el ADN dañado. Las mutaciones en este gen pueden aumentar el riesgo de desarrollar cáncer de mama .</p>
                </div>
            </div>
            <div class="contenedor_servicios">
                <div class="box">
                    <img src="assets/img/glucosaOrina.jpg" alt="">
                </div>
                <div class="box-datos">
                    <h1>Glucosa en Orina Parcial</h1>

                    <p>La presencia de glucosa en la orina parcial puede ser indicativa de niveles elevados de azúcar en sangre en el momento en que se recogió la muestra de orina. </p>

                </div>
            </div>
            <div class="contenedor_servicios">
                <div class="box">
                    <img src="assets/img/idBacterias.jpg" alt="">
                </div>
                <div class="box-datos">
                    <h1>Identificación de Bacterias por la Técnica MALDI-TOF, Hemocultivo</h1>

                    <p>Esta técnica es útil para la identificación rápida y precisa de bacterias, lo que puede ayudar en la selección del tratamiento antimicrobiano adecuado.</p>

                </div>
            </div>
            <div class="contenedor_servicios">
                <div class="box">
                    <img src="assets/img/xilenoSangre.jpg" alt="">
                </div>
                <div class="box-datos">
                    <h1>Xileno en Sangre Total</h1>

                    <p>La medición de xileno en sangre es una prueba que se utiliza para evaluar la exposición al xileno y determinar los niveles de esta sustancia en la sangre.</p>

                </div>
            </div>
            <div class="contenedor_servicios">
              <div class="box">
                  <img src="assets/img/acidoOrina.jpg" alt="">
              </div>
              <div class="box-datos">
                  <h1>Ácido Homovanílico en Orina de 24 horas</h1>

                  <p>El HVA se excreta en la orina y la medición de sus niveles en una muestra de orina de 24 horas puede ser útil para evaluar la función cerebral.</p>

              </div>
          </div>
          <div class="contenedor_servicios">
            <div class="box">
                <img src="assets/img/hemoglobina.jpg" alt="">
            </div>
            <div class="box-datos">
                <h1>Hemoglobina en Sangre Total</h1>

                <p>La medición de los niveles de hemoglobina en sangre total es una prueba común que se utiliza para evaluar la capacidad de la sangre para transportar oxígeno.</p>

            </div>
        </div>
        <div class="contenedor_servicios">
          <div class="box">
              <img src="assets/img/creatinaOrina.jpg" alt="">
          </div>
          <div class="box-datos">
              <h1>Creatina en Orina de 24 horas</h1>

              <p>La creatina es una molécula producida naturalmente en el cuerpo y se utiliza principalmente en los músculos para ayudar a producir energía. </p>

          </div>
      </div>
      <div class="contenedor_servicios">
        <div class="box">
            <img src="assets/img/cariotipoSangre.jpg" alt="">
        </div>
        <div class="box-datos">
            <h1>Cariotipo en Sangre Periférica o Fetal (Bandas G)</h1>

            <p>es una técnica importante para diagnosticar trastornos genéticos y enfermedades como el síndrome de Down, el síndrome de Turner</p>

        </div>
    </div>
 
        </div>
